EXPO_PUBLIC_API_BASE=https://cotadise-api.onrender.com/api
EXPO_PUBLIC_PRIVACY_URL=https://cotadise-admin.onrender.com/privacy.html
EXPO_PUBLIC_TERMS_URL=https://cotadise-admin.onrender.com/terms.html
